@import "./variables";
.slide-left-to-right {
  -webkit-animation-duration: $animation-duration;
  -webkit-animation-name: slide-left-to-right-keyframe;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;
}

.slide-right-to-left {
  -webkit-animation-duration: $animation-duration;
  -webkit-animation-name: slide-right-to-left-keyframe;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;
}
@-webkit-keyframes slide-right-to-left-keyframe {
  from {
    left: 0;
  }
  to {
    left: -400px;
  }
}
@-webkit-keyframes slide-left-to-right-keyframe {
  from {
      left: -400px;
  }
  to {
      left: 0;
  }
}
