//colors:
$main-background: green;
$main-font-color: white;
$general-background: #f8f8f8;
$overlap-general-background: #eeeeee;
$selected-item-color: lightgreen;;

//distance:
$standard-distance: 25px;
$header-height: 50px;

//timings:
$animation-duration: 1s;
