<div class="time-selector-wrapper">
  <div class="rangePicker">
    <mat-radio-button [name]="'time'" [value]="'single'" [checked]="true" (change)="onRangeTypeChanged($event)">single year</mat-radio-button>
    <mat-radio-button [name]="'time'" [value]="'between'" (change)="onRangeTypeChanged($event)">between</mat-radio-button>
  </div>
  <div class="timePicker">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year" [startAt]="2012"></mat-datepicker>
  </div>
</div>


<!--
<mat-dialog-actions>
  <button class="mat-raised-button">Close</button>
  <button class="mat-raised-button mat-primary">Save</button>
</mat-dialog-actions>
-->
