@import "../../styles/variables";
@import "../../styles/global";
.selectedYears {
  padding: $standard-distance 0 0 $standard-distance;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  .yearSelector {
    width: 60px;
  }
}

.horizontal {

}
