<div class="home-component-wrapper">
  <app-header-component class="app-header-component" [title]="title"
                        (onMenuClick)="toggleMenu()">
  </app-header-component>
  <app-side-menu class="app-side-menu"
                 *ngIf="!isFirstLoad"
                 (onSubmit)="onSubmit()"
                  [ngClass]="{'slide-left-to-right': isMenuOpened && !isFirstLoad,
                              'slide-right-to-left': !isMenuOpened && !isFirstLoad}"></app-side-menu>
  <app-result-component></app-result-component>
</div>
<div class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
