@import "../../styles/variables";
@import "../../styles/global";

.side-menu-wrapper {
  padding: $standard-distance 0 $standard-distance 0;

  .selectedYears {
    padding: $standard-distance 0 0 $standard-distance;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    .yearSelector {
      width: 60px;
    }
  }

  .action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .gas-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: $standard-distance;
  }

  .mainlands-list {
    padding: $standard-distance 0 $standard-distance $standard-distance;
    text-transform: capitalize;

    .mainlandItem {
      .mainlandContent {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          color: $main-background;
          cursor: default;
        }
      }

      .states {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        padding-left: $standard-distance;
      }
    }
  }
}
